<header focusOnNavigation class="ngx-pixel-creator-demo-background" id="homepage-header">
  <div class="ngx-pixel-creator-demo-section">
    <div class="ngx-pixel-creator-demo-headline">
      <h1>Ngx Pixel Creator</h1>
      <h2>A Customizable Themeable Angular Material Component</h2>
    </div>
    <div class="ngx-pixel-creator-demo-start">
      <a mat-raised-button >Test</a>
    </div>
  </div>
</header>
<main class="ngx-pixel-creator-demo-main">
  <mat-card>
    <ngx-pixel-creator></ngx-pixel-creator>
  </mat-card>
</main>