<header focusOnNavigation class="header-background" id="homepage-header">
  <div class="header-section">
    <div class="header-headline">
      <h1>Ngx Pixel Grid</h1>
      <h2>Themeable Angular Material Component</h2>
    </div>
    <div class="header-start">
      <a mat-raised-button>Test</a>
    </div>
  </div>
</header>
<main class="home-main">
  <mat-card>
    <h2>Simple demo of Ngx Pixel Grid</h2>
    <p>A pixel based grid rendering on a canvas running outside of angular.</p>
    <mat-divider></mat-divider>
    <ngx-pixel-grid></ngx-pixel-grid>
  </mat-card>
</main>